nav {
  display: flex;
  align-items: center;
  margin: 0;
  background-color: #4e4e4e;
  width: 100vw;
  height: 50px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  justify-content: space-between;
}
.link {
  margin: 0 25px;
  text-decoration: none;
  color: white;
}
.contact {
  cursor: not-allowed;
  margin-left: 25px;
  margin-right: 0px;
}
